In [1]:
%load_ext autoreload
%autoreload 2

In [5]:
#from src.GenerationAttenuationOptimizer import GenerationAttenuationOptimizer
from pathlib import Path
import subprocess
import os
import pandas as pd
from sqlalchemy import create_engine

In [37]:
engine = create_engine('postgresql://traca_user:EdificiH2O!@217.61.208.188:5432/traca_1')
contaminant = 'Venlafaxina'
conca = 'llobregat'
cwd = Path.cwd()
compound_generator_path = Path().resolve().parent / 'traca' / 'traca'/ 'inputs compound generator'
recall_points_path = compound_generator_path / 'inputs' / 'recall_points.xlsx'

#txtinout_path = Path().resolve() / 'data' / 'txtinouts' / f'Txtinout_{conca}'
#removal_rate_path = compound_generator_path / 'inputs' / 'atenuacions_generacions.xlsx'
#channels_geom_path = cwd / 'data' / 'rivs1' / 'canals_tot_ci.shp'

In [38]:
recall_points_df = pd.read_excel(recall_points_path)
wwtp_conca = recall_points_df[recall_points_df['conca'] == conca]['edar_code'].dropna().unique()

In [39]:
observacions = pd.read_sql(f"SELECT * FROM edars_effluent where \"Substance name\" = '{contaminant}'", engine)
observacions

             cod_eu cod_aca nom_edar      fecha  Unit Substance name     Value
0  ES9080010001010E    None     None 2011-10-13  mg/L    Venlafaxina  0.000013
1  ES9081130006010E    None     None 2010-10-23  mg/L    Venlafaxina  0.000280
2  ES9081130006010E    None     None 2011-10-13  mg/L    Venlafaxina  0.000029
3  ES9083020001010E    None     None 2010-10-23  mg/L    Venlafaxina  0.000077
4  ES9083020001010E    None     None 2011-10-18  mg/L    Venlafaxina  0.000106

In [40]:
observacions_wwtp_conca = observacions[observacions['cod_eu'].isin(wwtp_conca)]
observacions_wwtp_conca

             cod_eu cod_aca nom_edar      fecha  Unit Substance name     Value
0  ES9080010001010E    None     None 2011-10-13  mg/L    Venlafaxina  0.000013
1  ES9081130006010E    None     None 2010-10-23  mg/L    Venlafaxina  0.000280
2  ES9081130006010E    None     None 2011-10-13  mg/L    Venlafaxina  0.000029
3  ES9083020001010E    None     None 2010-10-23  mg/L    Venlafaxina  0.000077
4  ES9083020001010E    None     None 2011-10-18  mg/L    Venlafaxina  0.000106